<div class="modal-header">
    <h6 class="modal-title pull-left text-muted">CHANGE PASSWORD</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.dismiss()">
        <!-- (click)="modal.dismiss()" -->
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <!-- <div class="container-fluid"> -->
    <label for="password">Password:</label>
    <input type="password" ngbAutoFocus class="form-control" name="password" id="password">
    <label for="confirm">Confirm Password:</label>
    <input type="password" class="form-control" name="confirm" id="confirm">
    <!-- </div> -->
</div>

<div class="modal-footer text-right">
    <button class="btn btn-sm btn-secondary">Cancel</button>
    <button class="btn btn-sm btn-success">Save</button>
</div>